# Xcode
.DS_Store
build/
*.xcodeproj
*.xcworkspace
xcuserdata

# Specific Xcode project files
**/project.pbxproj
**/UserInterfaceState.xcuserstate

# macOS plugin build
macos/*/build/
macos/*/dist/*.xpl
*.so
*.dylib
*.o

# Secrets
*.env
*.pem