# Xcode
.DS_Store
build/
*.xcodeproj
*.xcworkspace
xcuserdata

# Specific Xcode project files
**/project.pbxproj
**/UserInterfaceState.xcuserstate

# macOS plugin
*.xpl/
*.so
*.dylib

# Secrets
*.env
*.pem
CONVERSATION.md